---
---

<header
  class="fixed top-0 left-0 w-full z-50 flex justify-between items-center px-margin-mobile md:px-margin-desktop h-16 bg-background/80 backdrop-blur-md border-b-2 border-outline-variant"
>
  <div
    class="absolute top-0 left-0 w-full h-[px] bg-primary-container pointer-events-none animate-flicker"
  ></div>
  <a href="/" class="font-headline-sm text-headline-sm text-primary-container font-extrabold">
    HUYỀN@SYS:~
  </a>
  <div class="flex items-center space-x-4">
    <span class="cyber-dot"></span>
    <span class="ml-2 font-code-sm text-code-sm text-primary-fixed-dim uppercase">
      Status: Online
    </span>
  </div>
</header>